<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbf7vQb0j4qFYnbPvCYPYpU1ba57eNeas</string>
	<key>GCM_SENDER_ID</key>
	<string>45106878880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aashraybavisa.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-768c8</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-768c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45106878880:ios:a06a77a6e685d3e1c02cc5</string>
</dict>
</plist>